[user]
	name = dalyIsaac
	email = isaac.daly@outlook.com
	signingkey = AE39DBFDD467F3D8
[core]
	editor = code --wait

# env:wsl
[core]
	editor = /mnt/c/Users/{var:username}/AppData/Local/Programs/Microsoft\\ VS\\ Code/bin/code --wait
[gpg]
	program = /mnt/c/Program Files (x86)/GnuPG/bin/gpg.exe
[commit]
	gpgsign = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe

# env:linux
